.container {
    padding: 10px;
    width: 22%;
    padding: 30px 40px;
    cursor: pointer;
    text-align: center;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #d1411e;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.description {
    text-align: center;
    color: #666;
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
    }

    .title {
        font-size: 26px;
    }

    .description {
        font-size: 14px;
    }
}